<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static "css/font.css" %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Добро пожаловать!</title>
    <style>
        body {
            background-image: url(../../static/images/tiuyu_back.png);
            background-size: 100% cover;
        }
    </style>
</head>
<body>
    <div class="w-screen h-screen overflow-hidden">
        <img src="{% static "images/tiuyu_name.png" %}" class="w-1/5 h-[10%] 2xl:pl-5 2xl:pt-5 xl:pl-4 xl:pt-4 lg:pl-3 lg:pt-3 md:pl-2 md:pt-2 select-none"/>
        <div class="flex w-full h-[90%] items-center justify-center">
            <div class="flex flex-col w-1/2 h-full">
                <div class="w-full h-1/2 2xl:my-4 xl:my-3 lg:my-2 md:my-1">
                    <div class="flex text-[#FFFFFF] 2xl:text-2xl xl:text-base lg:text-sm md:text-xs h-full items-center justify-center text-center select-none">
                        Данный сайт создан специально для проверки знаний студентов в различных областях.
                        Тесты могут быть различной сложности и формата.
                        Специальные модули сайта могут помочь преподавателям анализировать результаты и детально изучать уровень знаний каждого студента.
                        Использование данного сайта помогает сократить время на проверку тестов и упрощает процесс оценки знаний студентов.
                    </div>
                </div>
                <div class="h-1/2 w-3/4 flex mx-auto">
                    <form action="{% url 'login' %}" class="w-full py-2 h-1/4">
                        <button type="submit" class="transition duration-300 ease-in-out bg-[#173FA4] text-[#FFFFFF] w-full h-full rounded-xl hover:bg-[#14378F] hover:text-[#F2F2F2]">
                            <div class="flex flex-row items-center justify-center">
                                <div class="h-full w-1/12">
                                    <img src="{% static "images/log_in.png" %}" class="h-full w-full select-none" />
                                </div>
                                <div class="p-2 2xl:text-3xl xl:text-xl lg:text-base md:text-xs font-bold select-none">
                                    Войти в систему
                                </div>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>