<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static "css/font.css" %}" />
    <link rel="stylesheet" href="{% static "css/scroll_5px.css" %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Программы</title>
</head>
<body>
    <div class="w-screen h-screen overflow-hidden">
        {% include "pattern/header.html" %}
        <div class="flex flex-row h-[90%]">
            {% include "pattern/nav.html" %}
            <div class="w-11/12 px-10 flex flex-col items-center h-full">
                <div class="flex flex-none items-center justify-center w-full h-[10%]">
                    <div class="w-3/4 p-4 bg-[#28448D] text-[#FFFFFF] rounded-lg text-center text-2xl font-bold select-none">
                        Список студентов
                    </div>
                </div>
                <div class="w-full h-[90%]">
                    <ul class="overflow-scroll h-[90%] w-full">
                        {%for student in program.student_set.all%}
                        <li class="h-[15%] w-full p-2 flex-none flex flex-row">
                            <div class="w-[5%] rounded-2xl border-[5px] border-[#28448D] h-full mx-10 flex items-center justify-center text-2xl font-bold select-none">
                                № {{forloop.counter}}
                            </div>
                            <div class="h-full w-[75%] mx-10  rounded-2xl border-[5px] border-[#28448D] text-2xl font-bold flex justify-center items-center">
                                {{student.user.first_name}} {{student.user.last_name}}
                            </div>
                            <form method="post" action="{% url 'deleteStudentProgram' program.id student.id%}" class="w-[5%] h-full">
                                {%csrf_token%}
                                <button type="submit" class="w-full h-full transition duration-300 ease-in-out p-3 rounded-2xl bg-[#28448D] hover:bg-[#223A77] flex items-center justify-center text-[#FFFFFF] text-xl font-bold select-none">
                                    <img src="{% static "images/plus_circle.png" %}" class="rotate-45 h-[90%] select-none" />
                                </button>
                            </form>
                        </li>
                        {%endfor%}
                    </ul>
                    <form  action="{% url 'addStudent' program.id %}" class="w-full flex justify-center h-[10%]">
                        <button type="submit" class="h-3/4 transition duration-300 ease-in-out p-3 rounded-2xl bg-[#28448D] hover:bg-[#223A77] flex items-center justify-center  text-[#FFFFFF] hover:text-[#F2F2F2] text-xl font-bold select-none">
                            <div class="flex flex-row px-16">
                                <div class="px-2 flex items-center justify-center">
                                    <img src="{% static "images/plus_circle.png" %}" class=" select-none" />
                                </div>
                                <div class="flex items-center justify-center">
                                    Добавить студента
                                </div>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>