<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static "css/font.css" %}" />
    <link rel="stylesheet" href="{% static "css/chedio.css" %}" />
    <link rel="stylesheet" href="{% static "css/scroll_5px.css" %}" />
    <link rel="stylesheet" href="{% static "css/questionForm.css" %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Добавить вопрос</title>
    <style>
        input[type=checkbox] {
            position: absolute;
            width: 60%;
            height: 40%;
            opacity: 0;
            margin-left: 14px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div class="w-screen h-screen overflow-hidden">
        {% include "pattern/header.html" %}
        <div class="flex flex-row h-[90%]">
            {% include "pattern/nav.html" %}
            <div class="w-11/12 px-10 flex flex-col py-5">
                <div class="w-full flex flex-row  flex-none pr-2.5 h-[15%]">
                    <div class="w-1/12 h-1/2">
                        <form action="{% url 'testCreated' 1 %}" class="w-full h-full">
                            <button type="submit" class="transition duration-300 ease-in-out w-full h-full">
                                <div class="flex flex-row w-full h-full">
                                    <div class="flex items-center px-1">
                                        <img src="{% static "images/arrow_left_b.png" %}" class="h-1/3 select-none" />
                                    </div>
                                    <div class="text-[#516EB9] text-3xl font-bold select-none flex items-center">
                                        Назад
                                    </div>
                                </div>
                            </button>
                        </form>
                    </div>
                    <div class="p-4 bg-[#28448D] text-[#FFFFFF] rounded-lg text-center flex items-center justify-center text-2xl font-bold select-none w-7/12 h-1/2 mx-10">
                        {{test.name}}
                    </div>
                    <div class="flex flex-col p-4 bg-[#28448D] text-[#FFFFFF] rounded-lg flex justify-center text-2xl font-bold select-none w-4/12 h-full">
                        <div>
                            Доступен до: {{test.deadline}}
                        </div>
                        <div>
                            Количество вопросов: {{test.question_set.count}}
                        </div>
                    </div>
                </div>
                <form method="post" class="w-full flex flex-col mt-5 h-[85%]">
                    {%csrf_token%}
                    <div class="border-[5px] border-[#28448D] h-full w-full p-4 rounded-xl flex flex-col">
                        <div class="text-[#000000] text-2xl font-bold select-none flex justify-center h-[8%]">
                            Создание вопроса
                        </div>
                        <div class="flex flex-row h-1/5">
                            <div class="rounded-lg text-[#FFFFFF] bg-[#516EB9] text-3xl font-bold justify-center select-none flex items-center w-1/3 h-1/2 mr-4 ">
                                Текст вопроса
                            </div>
                            <div class="w-2/3 ml-4">
                                {{form.text}}
                            </div>
                        </div>
                        <div class="flex flex-row py-1 w-full h-[12%]">
                            <div class="w-1/2 mr-4">
                                {{form.answer1}}
                            </div>
                            <div class="flex items-center h-full w-1/2">
                                <div class="block overflow-hidden relative h-full w-[6%] flex items-center">
                                    {{form.is_correct1}}
                                    <label for="1" class="block">
                                        <svg width="50" height="50" viewbox="0 0 100 100">
                                            <rect x="30" y="20" width="50" height="50" stroke-width="5" stroke="#000000" fill="none" />
                                            <g transform="translate(0,-952.36222)">
                                                <path d="m 56,963 c -102,122 6,9 7,9 17,-5 -66,69 -38,52 122,-77 -7,14 18,4 29,-11 45,-43 23,-4 " stroke="#28448D" stroke-width="3" fill="none" class="path1" />
                                            </g>
                                        </svg>
                                    </label>
                                </div>
                                <div class="text-2xl text-[#000000] font-bold flex items-center h-full w-[80%]">Ответ верный</div>
                            </div>
                        </div>
                        <div class="flex flex-row py-1 h-[12%]">
                            <div class="w-1/2 mr-4">
                                {{form.answer2}}
                            </div>
                            <div class="flex items-center h-full w-1/2">
                                <div class="block overflow-hidden relative h-full w-[6%] flex items-center">
                                    {{form.is_correct2}}
                                    <label for="2" class="block">
                                        <svg width="50" height="50" viewbox="0 0 100 100">
                                            <rect x="30" y="20" width="50" height="50" stroke-width="5" stroke="#000000" fill="none" />
                                            <g transform="translate(0,-952.36222)">
                                                <path d="m 56,963 c -102,122 6,9 7,9 17,-5 -66,69 -38,52 122,-77 -7,14 18,4 29,-11 45,-43 23,-4 " stroke="#28448D" stroke-width="3" fill="none" class="path1" />
                                            </g>
                                        </svg>
                                    </label>
                                </div>
                                <div class="text-2xl text-[#000000] font-bold flex items-center h-full w-[80%]">Ответ верный</div>
                            </div>
                        </div>
                        <div class="flex flex-row py-1 h-[12%]">
                            <div class="w-1/2 mr-4">
                                {{form.answer3}}
                            </div>
                            <div class="flex items-center h-full w-1/2">
                                <div class="block overflow-hidden relative h-full w-[6%] flex items-center">
                                    {{form.is_correct3}}
                                    <label for="3" class="block">
                                        <svg width="50" height="50" viewbox="0 0 100 100">
                                            <rect x="30" y="20" width="50" height="50" stroke-width="5" stroke="#000000" fill="none" />
                                            <g transform="translate(0,-952.36222)">
                                                <path d="m 56,963 c -102,122 6,9 7,9 17,-5 -66,69 -38,52 122,-77 -7,14 18,4 29,-11 45,-43 23,-4 " stroke="#28448D" stroke-width="3" fill="none" class="path1" />
                                            </g>
                                        </svg>
                                    </label>
                                </div>
                                <div class="text-2xl text-[#000000] font-bold flex items-center h-full w-[80%]">Ответ верный</div>
                            </div>
                        </div>
                        <div class="flex flex-row py-1 h-[12%]">
                            <div class="w-1/2 mr-4">
                                {{form.answer4}}
                            </div>
                            <div class="flex items-center h-full w-1/2">
                                <div class="block overflow-hidden relative h-full w-[6%] flex items-center">
                                    {{form.is_correct4}}
                                    <label for="4" class="block">
                                        <svg width="50" height="50" viewbox="0 0 100 100">
                                            <rect x="30" y="20" width="50" height="50" stroke-width="5" stroke="#000000" fill="none" />
                                            <g transform="translate(0,-952.36222)">
                                                <path d="m 56,963 c -102,122 6,9 7,9 17,-5 -66,69 -38,52 122,-77 -7,14 18,4 29,-11 45,-43 23,-4 " stroke="#28448D" stroke-width="3" fill="none" class="path1" />
                                            </g>
                                        </svg>
                                    </label>
                                </div>
                                <div class="text-2xl text-[#000000] font-bold flex items-center h-full w-[80%]">Ответ верный</div>
                            </div>
                        </div>
                        <div class="flex flex-row py-1 h-[12%]">
                            <div class="w-1/2 mr-4">
                                {{form.answer5}}
                            </div>
                            <div class="flex flex-row items-center h-full w-1/2">
                                <div class="block overflow-hidden relative h-full w-[6%] flex items-center">
                                    {{form.is_correct5}}
                                    <label for="5" class="block">
                                        <svg width="50" height="50" viewbox="0 0 100 100">
                                            <rect x="30" y="20" width="50" height="50" stroke-width="5" stroke="#000000" fill="none" />
                                            <g transform="translate(0,-952.36222)">
                                                <path d="m 56,963 c -102,122 6,9 7,9 17,-5 -66,69 -38,52 122,-77 -7,14 18,4 29,-11 45,-43 23,-4 " stroke="#28448D" stroke-width="3" fill="none" class="path1" />
                                            </g>
                                        </svg>
                                    </label>
                                </div>
                                <div class="text-2xl text-[#000000] font-bold flex items-center h-full w-[80%]">Ответ верный</div>
                            </div>
                        </div>
                        <div class="w-full py-1">
                            <div class="w-full flex justify-center">
                                <button type="submit" class="transition duration-300 ease-in-out p-3 rounded-2xl bg-[#28448D] hover:bg-[#223A77] flex items-center justify-center  text-[#FFFFFF] hover:text-[#F2F2F2] text-xl font-bold select-none">
                                    <div class="flex flex-row px-10">
                                        <div class="px-2 flex items-center justify-center">
                                            <img src="{% static "images/plus_circle.png" %}" class=" select-none" />
                                        </div>
                                        <div class="flex items-center justify-center">
                                            Добавить вопрос
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</body>
</html>
