<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static "css/bodystyle.css" %}" />
    <link rel="stylesheet" href="{% static "css/font.css" %}" />
    <link rel="stylesheet" href="{% static "css/testDescription.css" %}" />
    <link rel="stylesheet" href="{% static "css/interface.css" %}" />
    <link rel="stylesheet" href="{% static "css/scroll_5px.css" %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>{{test.name}}</title>
</head>
<body>
    <div class="w-screen h-screen overflow-hidden">
        {% include "pattern/header.html" %}
        <div class="flex flex-row" id="main">
            {% include "pattern/nav.html" %}
            <div class="w-11/12 px-10 flex flex-col py-3">
                <div class="w-full flex flex-row flex-none items-center justify-center" id="main-header">
                    <div class="w-1/12">
                        <form action="{% url 'programTests' test.program.id %}" class="w-full h-full">
                            <button type="submit" class="transition duration-300 ease-in-out w-full h-full">
                                <div class="flex flex-row w-full h-full">
                                    <div class="flex items-center px-1">
                                        <img src="{% static "images/arrow_left_b.png" %}" class="h-1/2 select-none" />
                                    </div>
                                    <div class="text-[#516EB9] text-3xl font-bold select-none flex items-center">
                                        Назад
                                    </div>
                                </div>
                            </button>
                        </form>
                    </div>
                    <div class="p-4 bg-[#28448D] text-[#FFFFFF] rounded-lg text-center text-2xl font-bold select-none w-11/12">
                        {{test.name}}
                    </div>
                </div>
                <div class="w-full" id="main-main">
                    <div class="rounded-2xl border-[5px] border-[#28448D] h-full w-full flex flex-col items-center mb-1">
                        <div id="main-main-header">
                            <div class="h-full text-4xl font-bold text-[#000000] flex justify-center items-center">
                            </div>
                        </div>
                        <div class="rounded-lg bg-[#516EB9] text-[#FFFFFF] text-3xl font-bold px-4 py-2 flex flex-col items-center justify-center" id="main-main-desc">
                            <div>Вопросов: {{test.countQuestions}}</div>
                            <div>Доступен до: {{test.deadline}}</div>
                            <div>{{test.description}}</div>
                        </div>
                        <div id="main-main-button" class="w-full">
                            {% if status == False%}
                            <form method="post" class="w-full h-full flex justify-center items-center">
                                {%csrf_token%}
                                <button type="submit" class="transition duration-300 ease-in-out bg-[#516EB9] rounded-lg">
                                    <div class="text-[#FFFFFF] text-3xl font-bold select-none p-2">
                                        Начать
                                    </div>
                                </button>
                            </form>
                            {%endif%}
                        </div>
                        <div class="flex flex-col w-full p-4" id="main-main-table">
                            <div class="flex flex-row w-full h-1/5 flex-none pr-[0.3125rem]">
                                <div class="bg-[#516EB9] rounded-lg text-[#FFFFFF] text-2xl font-bold w-6/12 h-4/5 mx-2"><div class="w-full h-full flex justify-center items-center">Статус</div></div>
                                <div class="bg-[#516EB9] rounded-lg text-[#FFFFFF] text-2xl font-bold w-3/12 h-4/5 mx-2"><div class="w-full h-full flex justify-center items-center">Баллы</div></div>
                                <div class="bg-[#516EB9] rounded-lg text-[#FFFFFF] text-2xl font-bold w-3/12 h-4/5 mx-2"><div class="w-full h-full flex justify-center items-center">Всего вопросов</div></div>
                            </div>
                            <div class="overflow-scroll flex flex-col items-center w-full h-full" id="try-list">
                                <div class="flex flex-row w-full h-1/5 flex-none my-2">
                                    <div class="border-[#516EB9] border-[5px] rounded-lg text-[#516EB9] text-2xl font-bold w-6/12 h-full mx-2">
                                        {% if status == True%}
                                        Пройден
                                        {%else%}
                                        Не пройден
                                        {%endif%}
                                        <div class="w-full h-full flex justify-center items-center"></div></div>
                                    <div class="border-[#516EB9] border-[5px] rounded-lg text-[#516EB9] text-2xl font-bold w-3/12 h-full mx-2">{{countResult}}<div class="w-full h-full flex justify-center items-center">ㅤ</div></div>
                                    <div class="border-[#516EB9] border-[5px] rounded-lg text-[#516EB9] text-2xl font-bold w-3/12 h-full mx-2">{{countQuestions}}<div class="w-full h-full flex justify-center items-center">ㅤ</div></div>
                                </div>
                            </div>-
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>